.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}

.audiences {
  max-width: 640px;
  width: 100%;
  margin: 1rem auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 1rem;
}

.audience-logo {
  position: relative;
  height: 80px;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audience-logo img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.audience-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  transition: all ease 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.audience-overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
}
